<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

</head>
<body>

<th:block th:include="@{/header.html}"></th:block>

<hr>
<table class="table table">
    <tr>
        <th>글번호</th>
        <td>[[${board.id}]]</td>
    </tr>

    <tr>
        <th>글제목</th>
        <td>[[${board.subject}]]</td>
    </tr>
    <tr>
        <th>글내용</th>
        <td>[[${board.content}]]</td>
    </tr>
    <tr>
        <th>작성자</th>
        <td>[[${board.createdby}]]</td>
    </tr>
    <tr>
        <th>작성일자</th>
        <td>[[${board.regdate}]]</td>
    </tr>
</table>

<br>

<p class="btn_set">
    <!--    <button type="button" class="btns btn_bdr4 btn_mid"><a th:href="@{'/updateboard/'+${board.id}}">수정</a></button>-->
    <!--<form role="form" method="post" th:action="@{'/deleteboard/'+${board.id}}">-->
    <!--    <input type="hidden" th:value="${board.id}" name="id">-->
    <!--    <button type="submit" class="btns btn_bdr1 btn_mid">글삭제하기</button>-->
    <!--</form>-->
    <button type="button" onclick="goWritePage();" class="btns btn_bdr3 btn_mid">수정</button>
    <button type="button" onclick="deletePost();" class="btns btn_bdr3 btn_mid">삭제</button>
    <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
</p>

<script>
    // 게시글 수정 페이지로 이동
    function goWritePage() {
        location.href = '/updateboard/' + location.search;
    }

    // 게시글 삭제
    function deletePost() {

        const id = [[ ${board.id}]];

        if (!confirm(id + '번 게시글을 삭제할까요?')) {
            return false;
        }

        let inputHtml = '';

        new URLSearchParams(location.search).forEach((value, key) => {
            inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
        })

        const formHtml = `
            <form id="deleteForm" action="/deleteboard/" method="post">
                ${inputHtml}
            </form>
        `;

        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById('deleteForm').submit();
    }

    // 게시글 리스트 페이지로 이동
    function goListPage() {
        const queryString = new URLSearchParams(location.search);
        queryString.delete('id');
        location.href = '/board + ' ? ' + queryString.toString();
    }
</script>

<hr>
<th:block th:include="@{/footer.html}"></th:block>

</body>
</html>