<!doctype html>
<html lang="ko">

<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    <style>

        .search {
            position: relative;
            width: 300px;
        }

        input {
            width: 100%;
            border: 1px solid #bbb;
            border-radius: 8px;
            padding: 10px 12px;
            font-size: 14px;
        }

        img {
            position: absolute;
            width: 17px;
            top: 10px;
            right: 12px;
            margin: 0;
        }
    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
            // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
            findAllPost();
        }

        // 게시글 리스트 조회
        function findAllPost() {

            // 1. PagingResponse의 멤버인 List<T> 타입의 list를 의미
            const list = [[ ${response.list}]];

            // 2. 리스트가 비어있는 경우, 행에 "검색 결과가 없다"는 메시지를 출력하고, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직을 종료
            if (!list.length) {
                document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
                drawPage();
            }

            // 3. PagingResponse의 멤버인 pagination을 의미
            const pagination = [[ ${response.pagination}]];

            // 4. @ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params를 의미
            const params = [[ ${params}]];

            // 5. 리스트에 출력되는 게시글 번호를 처리하기 위해 사용되는 변수 (리스트에서 번호는 페이지 정보를 이용해서 계산해야 함)
            let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

            // 6. 리스트 데이터 렌더링
            drawList(list, num);

            // 7. 페이지 번호 렌더링
            drawPage(pagination, params);
        }


        // 리스트 HTML draw
        function drawList(list, num) {

            // 1. 렌더링 할 HTML을 저장할 변수
            let html = '';

            /*
             * 2. 기존에 타임리프(Thymeleaf)를 이용해서 리스트 데이터를 그리던 것과 유사한 로직
             *    기존에는 게시글 번호를 (전체 데이터 수 - loop의 인덱스 번호)로 처리했으나, 현재는 (전체 데이터 수 - ((현재 페이지 번호 - 1) * 페이지당 출력할 데이터 개수))로 정밀히 계산
             */
            list.forEach(row => {
                html += `
                        <tr>
                            <td>${row.id}</td>
<!--                            <td class="tl"><a href="/boardview/${row.id}">${row.subject}</a></td>-->
                            <td class="tl"><a href="javascript:void(0);" onclick="goViewPage(${row.id});">${row.subject}</a></td>
                            <td>${row.createdby}</td>
                            <td>${dayjs(row.regdate).format('YYYY-MM-DD HH:mm')}</td>
                            <td>${row.viewcount}</td>
                        </tr>
                    `;
            })

            // 3. id가 "list"인 요소를 찾아 HTML을 렌더링
            document.getElementById('list').innerHTML = html;
        }

        // 게시글 상세 페이지로 이동
        function goViewPage(id) {
            const queryString = (location.search) ? location.search + `&id=${id}` : `?id=${id}`;
            location.href = '/boardview/' + queryString;
        }


        // 페이지 HTML draw
        function drawPage(pagination, params) {

            // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직 종료
            if (!pagination || !params) {
                document.querySelector('.paging').innerHTML = '';
                throw new Error('Missing required parameters...');
            }

            // 2. 렌더링 할 HTML을 저장할 변수
            let html = '';

            // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML에 추가
            if (pagination.existPrevPage) {
                html += `
                        <button class="btn"><a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">처음</a></button>
                        <button class="btn"><a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전</a></button>
                    `;
            }

            /*
             * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
             *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우, 페이지 번호(i)를 활성화(on) 처리
             */
            html +=
                '<span>';
            for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                html += (i !== params.page)
                    ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                    : `<span class="on">${i}</span>`
            }
            html +=
                '</span>';

            // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
            if (pagination.existNextPage) {
                html += `
                       <button class="btn"> <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음</a></button>
                       <button class="btn"> <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">끝</a></button>
                    `;
            }

            // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
            document.querySelector('.paging').innerHTML = html;
        }


        // 페이지 이동
        function movePage(page) {

            // 1. 검색 폼
            const form = document.getElementById('searchForm');

            // 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 10,
                searchType: form.searchType.value,
                keyword: form.keyword.value
            }

            /*
             * 3. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
             *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
             *    URI + 쿼리 스트링에 해당하는 주소로 이동
             *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
             */
            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }

        /*]]>*/
    </script>


</head>
<body>

<th:block th:include="@{/header.html}"></th:block>

<hr>

<!-- 검색창-->
<div class="container">
    <div class="row">
        <div class="col-xl-6"></div>
        <!--/* 검색 */-->
        <div class="search_box">
            <form id="searchForm" onsubmit="return false;" autocomplete="off">
                <div class="sch_group fl">
                    <select id="searchType" name="searchType" title="검색 유형 선택">
                        <option value="">전체 검색</option>
                        <option value="subject">제목</option>
                        <option value="content">내용</option>
                        <option value="createdby">작성자</option>
                    </select>
                    <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" style="width: 30vw;" />
                    <button type="button" class="bt_search" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 게시글 리스트-->

<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <table class="table text-center">
                <thead class="text-center">
                <tr class="text-center">
                    <th class="text-center">글번호</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">글쓴이</th>
                    <th class="text-center">작성일자</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody id="list">
                </tbody>
            </table>
            <div class="col-2">

            </div>
        </div>
        <!-- 페이징-->
        <div class="paging text-center" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            </ul>


        </div>

    </div>
</div>

<br>
<th:block th:if="${session.user != null}">
    <button><a th:href="@{/write}">글쓰기</a></button>
</th:block>


<hr>
<th:block th:include="@{/footer.html}"></th:block>

</body>
</html>