<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

    <style>
        .new_input {
            width: 80%;
            border: 1px solid #bbb;
            border-radius: 8px;
            padding: 10px 15px 12px 15px;
            font-size: 14px;
        }

        .new_button {
            border: 1px solid #bbb;
            border-radius: 8px;
            padding: 8px 15px 8px 15px;
            font-size: 14px;
        }
    </style>

</head>
<body>

<th:block th:include="@{/header.html}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>[[${board.subject}]]<span style="font-size:14px;"> 👁️ 조회수 : [[${board.viewcount}]]</span></h1>

            <table class="table text-center table-bordered border-primary">
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%; ">
                </colgroup>
                <tr>
                    <th class="text-right">글번호</th>
                    <td class="text-left" style="padding-left:10px;">[[${board.id}]]</td>
                </tr>

                <tr>
                    <th class="text-right">글제목</th>
                    <td class="text-left" style="padding-left:10px;">[[${board.subject}]]</td>
                </tr>
                <tr>
                    <th class="text-right">글내용</th>
                    <td class="text-left" style="height: 300px; padding-left:10px">[[${board.content}]]</td>
                </tr>
                <tr>
                    <th class="text-right">작성자</th>
                    <td class="text-left" style="padding-left:10px;">[[${board.createdby}]]</td>
                </tr>
                <tr>
                    <th class="text-right">작성일자</th>
                    <td class="text-left" style="padding-left:10px;">[[${board.regdate}]]</td>
                </tr>
            </table>
            <p class="btn_set text-center">
                <button type="button" onclick="goWritePage();" class="btns btn_bdr3 btn_mid new_button">수정</button>
                <button type="button" onclick="deletePost();" class="btns btn_bdr3 btn_mid new_button">삭제</button>
                <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid new_button">뒤로</button>
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h4>댓글보기</h4>
            <hr>
            <!--반복구간-->
            <th:block th:each="list : ${replyList}" >
            <p class="text-left" style="padding-left:10px;color: rgba(77,211,168,0.85)">[[${list.createdby}]]
                <span style="font-size: 12px;color: #cccccc">  [[${list.regdate}]]</span></p>
            <p class="text-left" style="height: 30px; padding-left:10px">[[${list.replycontent}]]
                <span style="font-size: 12px;color: #cccccc" class="text-right"> 삭제 , 수정</span></p>
            <hr>
            </th:block>
            <!--반복구간 end-->
            <!--댓글쓰기 -->
            <form style="text-align: right;" role="form" th:action="@{/createreply}" method="post">
                <input class="text-left new_input" style="height: 100px; width: 100%; padding-left:10px"
                       value="댓글을 입력해주세요." name="replycontent">
                <input type="hidden" name="boardid" th:value="${board.id}">
                <input type="hidden" name="createdby" th:value="${session.user.userid}">
                <input type="hidden" name="modifiedby" th:value="${session.user.userid}">
                <input class="new_button" style="margin-top:3px;" type="submit" value="댓글등록">
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<script>
    // 게시글 수정 페이지로 이동
    function goWritePage() {
        location.href = '/updateboard/' + location.search;
    }

    // 게시글 삭제
    function deletePost() {

        const id = [[ ${board.id}]];

        if (!confirm(id + '번 게시글을 삭제할까요?')) {
            return false;
        }

        let inputHtml = '';

        new URLSearchParams(location.search).forEach((value, key) => {
            inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
        })

        const formHtml = `
            <form id="deleteForm" action="/deleteboard/" method="post">
                ${inputHtml}
            </form>
        `;

        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById('deleteForm').submit();
    }

    // 게시글 리스트 페이지로 이동
    function goListPage() {
        const queryString = new URLSearchParams(location.search);
        queryString.delete('id');
        location.href = '/board + ' ? ' + queryString.toString();
    }
</script>

<hr>
<th:block th:include="@{/footer.html}"></th:block>

</body>
</html>