<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

</head>
<body>

 <th:block th:include="@{/header.html}"></th:block>

 <hr>
    <table class="table table">
     <tr>
      <th>글번호</th>
      <td>[[${board.id}]]</td>
     </tr>

     <tr>
      <th>글제목</th>
      <td>[[${board.subject}]]</td>
     </tr>
     <tr>
      <th>글내용</th>
      <td>[[${board.content}]]</td>
     </tr>
     <tr>
      <th>작성자</th>
      <td>[[${board.createdby}]]</td>
     </tr>
     <tr>
      <th>작성일자</th>
      <td>[[${board.regdate}]]</td>
     </tr>
 </table>

 <br>
 <button><a th:href="@{'/updateboard/'+${board.id}}">글수정하기</a></button>

 <form role="form" method="post" th:action="@{'/deleteboard/'+${board.id}}">
  <input type="hidden" th:value="${board.id}" name="id">
 <button type="submit">글삭제하기</button>
 </form>
<hr>
 <th:block th:include="@{/footer.html}"></th:block>

</body>
</html>