<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

</head>
<body>

 <th:block th:include="@{/header.html}"></th:block>

 <hr>
    <form role="form" method="post" th:action="@{/createboard}">
    <table class="table table">
     <tr>
      <th>글제목</th>
      <td><input type="text" name="subject"></td>
     </tr>
     <tr>
      <th>글내용</th>
      <td><textarea name="content"></textarea></td>
     </tr>
<!--     <tr>-->
<!--      <th>글제목</th>-->
<!--      <td><input type="text" th:value="subject"></td>-->
<!--     </tr>-->

     <input type="hidden" name="createdby" th:value="${session.user.userid}">
     <input type="hidden" name="modifiedby" th:value="${session.user.userid}">

     <tr>
      <td><button type="submit">작성완료</button></td>
     </tr>
 </table>
    </form>

 <br>
 <button><a>홈가기</a></button>
<hr>
 <th:block th:include="@{/footer.html}"></th:block>

</body>
</html>