<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

</head>
<body>

 <th:block th:include="@{/header.html}"></th:block>

 <hr>
    <table class="table table">
     <tr>
      <th>글번호</th>
      <td><input></td>
     </tr>

     <tr>
      <th>글제목</th>
      <td><input></td>
     </tr>
     <tr>
      <th>글내용</th>
      <td><input></td>
     </tr>
     <tr>
      <th>작성자</th>
      <td><input></td>
     </tr>
     <tr>
      <th>작성일자</th>
      <td><input></td>
     </tr>
 </table>

 <br>
 <button><a>홈가기</a></button>
<hr>
 <th:block th:include="@{/footer.html}"></th:block>

</body>
</html>