<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<body>

<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-xl-7" style="margin-left: 10px;">
            <p class="text-center">* 개발자 최유리의 프로젝트입니다 😊😊😊   |   이메일 : yurifrom1123@gmail.com   |   연락처 : 010-5319-7527 * </p>
        </div>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>


</html>