<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>

</head>
<body>

 <th:block th:include="@{/header.html}"></th:block>
 <hr>
 <div class="container" style="margin-bottom: 20px;">
     <div class="row">
         <div class="col-xl-7" style="margin-left: 10px;">
             <p>스프링부트 게시판, 검색, 페이징 연습을 위해 만든 웹사이트입니다.^^</p>
         </div>
     </div>
 </div>
 <hr>
 <th:block th:include="@{/footer.html}"></th:block>

</body>
</html>